<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <title>Popup Demo</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/css/index.css?v=1" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body onload="Notification.requestPermission();">
<div style="text-align: center;">
    <h1><a onclick="home();">To Do List</a></h1>
</div>

<div class="container">
    <hr>
    <!-- SEARCH-->
    <div th:replace="fragment/search :: search"></div>
    <hr>
    <!-- MODAL -->
    <div th:replace="fragment/modal :: modal"></div>

    <!-- 5,제목,내용,~~~-->
    <h1 style="text-align: center;"> To do </h1>
    <div style="font-size: 2em;">
        <a class="fas fa-globe-asia"></a>
        <span id="over-count" style="position:absolute; background-color: red;" class="badge">0</span>
    </div>
    <table id="myTable" class="table table-striped table-light vertical-align" style="font-family: Arial;">
        <thead>
        <tr>
            <th onclick="sortTable(0)">제목</th>
            <th style="width:400px;" onclick="sortTable(1)">내용</th>
            <th onclick="sortTable(2)">마감 기간</th>
            <th onclick="sortTable(3)">상태</th>
            <th>수정</th>
            <th>삭제</th>
            <th>중요도</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${todos.getTodos()==null}">
            <th colspan="6" style="text-align: center">일정이 없습니다.</th>
        </tr>
        <tr th:unless="${todos.getTodos()==null}" th:each="todo : ${todos.getTodos()}">
            <!-- 제목 -->
            <th th:text="${todo.title}"></th>

            <!-- 내용 -->
            <th th:text="${todo.content}"></th>

            <!-- 마감 기간-->
            <th  th:text="${todo.deadline}"></th>

            <!-- 상태 -->
            <div th:if="${todo.status.equals('대기중')}">
                <th>
                    <a th:onclick="'crud.finish('+${todo.getId()}+');'"
                       class="btn btn-xs icon-btn btn-success"><span
                            class="glyphicon btn-glyphicon glyphicon-ok img-circle text-success"></span>대기중</a>
                </th>
                <th>
                    <a th:onclick="'crud.get('+${todo.getId()}+');'" class="btn btn-xs icon-btn btn-primary"><span
                            class="glyphicon btn-glyphicon glyphicon-pencil img-circle text-primary"></span>수정</a>
                </th>
            </div>
            <div th:if="${todo.status.equals('완료')}">
                <th>
                    <a class="btn btn-xs icon-btn btn-success" disabled="true"><span
                            class="glyphicon btn-glyphicon glyphicon-ok img-circle text-success"></span>완료</a>
                </th>
                <th>
                    <a class="btn btn-xs icon-btn btn-primary" disabled="true"><span
                            class="glyphicon btn-glyphicon glyphicon-pencil img-circle text-primary"></span>수정</a>
                </th>
            </div>
            <div th:if="${todo.status.equals('마감')}">
                <th>
                    <a class="btn btn-xs icon-btn btn-warning" disabled="true" help="삭제를 해주세요"><span
                            class="glyphicon btn-glyphicon glyphicon-wrench img-circle text-success"></span>마감</a>
                </th>
                <th>
                    <a class="btn btn-xs icon-btn btn-primary" disabled="true"><span
                            class="glyphicon btn-glyphicon glyphicon-pencil img-circle text-primary"></span>수정</a>
                </th>
            </div>
            <!-- 삭제 -->
            <th>
                <a th:onclick="'crud.delete('+${todo.getId()}+');'" class="btn btn-xs icon-btn btn-danger"><span
                        class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span>삭제</a>
            </th>
            <th>
                <span class="fa fa-star checked" th:if="${todo.getPriority()!=0}"
                      th:each="i : ${#numbers.sequence(0,todo.getPriority()-1)}"></span>
            </th>


        </tr>
        </tbody>
    </table>
    <a class="btn icon-btn btn-success" data-target="#layerpop" data-toggle="modal">
        <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Add</a>
</div>

<script type="text/javascript">
    function home() {
        window.location.href= window.location.origin+"/index";
    }
    function resetForm(form) {
        $("#" + form)[0].reset();
        add_star_fn(0);
    }

    $(document).ready(function () {
        setInterval(function () {
            $.ajax({
                url: window.location.origin+"/search/notice",
                method: "get",
                async: true,
                contentType: "application/json",
                dataType: 'json',
                success: [function (response) {
                    console.log("notice response : " + response.message)
                    if (response.message == "OK") {
                        $('#over-count').empty();
                        $('#over-count').html(response.data.count);
                    }else {
                        console.log("notice api ERROR")
                    }
                }]
            })
        }, 60 * 1000); //60초
        $('.fa-globe-asia').click(function () {
            var date = new Date();

            window.location.href = window.location.origin+"/index?beforeDate="+date.toISOString().substring(0,16)+"&status=마감";
        })
        // function notify(text) {
        //     if (Notification.permission == "granted") {
        //         var notification = new Notification("To-do 알림", {
        //             icon: '/img/penguin.png',
        //             body: text
        //         });
        //
        //         notification.onclick = function () {
        //             window.location.href = window.location.origin+"/index";
        //         }
        //     }
        // }

    });
</script>
<script src="/js/crud.js"></script>
<script src="/js/search.js"></script>
<script src="/js/sort.js"></script>
<script src="/js/star.js"></script>
</body>
</html>